@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.box {
  position: relative;
  display: flex;
  max-width: 1275px;
  height: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.black_box {
  width: 450px;
  height: 800px;
  background-color: #151515;
}

.first_painting {
  max-width: 540px;
  height: 800px;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  max-width: 1075px;
  width: 100%;
  left: 200px;
  top: 200px;
}

.header_text {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 88px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: white;
}

span {
  color: #151515;
}

.sub_header {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.sub_header > div {
  max-width: 350px;
  width: ;
  height: 160px;
}

.sub_text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: Light;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  color: rgba(68, 68, 68, 1);
}

.link {
  width: 204px;
  height: 72px;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3.64px;
  background-color: rgba(21, 21, 21, 1);
  color: white;
  border: none;
}

.link:hover {
  background-color: rgba(213, 150, 108, 1);
  cursor: pointer;
}

.button_box {
  display: flex;
}

.locator {
  width: 56px;
  height: 72px;
  background-color: rgba(213, 150, 108, 1);
  border: none;
}

.locator:hover {
  background-color: rgba(21, 21, 21, 1);
  cursor: pointer;
}

.box_2 {
  max-width: 1110px;
  height: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle_text_box {
  display: flex;
  justify-content: space-between;
  height: 401px;
  align-items: center;
  width: 100%;
}

.middle_text {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 280px;
  justify-content: space-between;
}

.middle_text > h2 {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-style: Black;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #151515;
}

.middle_text > p {
  width: 350px;
  height: 128px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: Light;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
}

.middle_photo {
  max-width: 635px;
  height: 400px;
}

.pre_footer {
  max-width: 1110px;
  height: 720px;
  display: flex;
  justify-content: space-between;
}

.painting_2 {
  width: 635px;
  height: 720px;
}

.photo_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ph_photo {
  width: 445px;
  height: 313px;
}

.ph_text {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 377px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #151515;
}

.ph_text > div {
  width: 350px;
}

.ph_text > div > h2 {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-style: Black;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: white;
}

.ph_text > div > p {
  font-family: "Outfit";
  font-weight: 400;
  font-style: Light;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  color: white;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 244px;
  margin-top: 180px;
  background-color: #151515;
  margin-left: auto;
  margin-right: auto;
}

.ending {
  display: flex;
  max-width: 1110px;
  width: 100%;
  height: 84px;

  justify-content: space-between;
  background-color: #151515;
}

.ending > div > h3 {
  font-family: "Big Shoulders";
  width: 159.57235717773438px;
  height: 58px;
  color: white;
}

.ending > div > p {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.8);
}

.location {
  width: 430px;
  height: 84px;
}

.icon_container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.icon:hover {
  cursor: pointer;
  filter: invert(63%) sepia(100%) saturate(500%) hue-rotate(341deg)
    brightness(100%) contrast(70%);
}

.button_box:hover .link {
  background-color: rgba(213, 150, 108, 1);
}

.button_box:hover .locator {
  background-color: black;
}
